body {
    background-color: rgb(248, 167, 218);
    color: black;
    text-align: center;
    font-size: 8px;
}

header {
    font-size: 64px;
    color: white;
    font-family: sans-serif;
}

img.education {
    max-width: 100%;
}

h1 {
    color: white;
    margin-top: -25px;
}

h2 {
    font-size: 25px;
    color: white;
    font-weight: bold;
    color: white;
    font-family: sans-serif;
}

ol {
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
}

img.nelson {
    width: 12%;
}