body {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    height: 100vh;
}

h1 {
    grid-column: 1/3;
    grid-row: 2/3;
    font-size: 250px;
    font-weight: bold;
    letter-spacing: 10px;
    padding-left: 140px;
    z-index: 3;
}

h2 {
    color: red;
    font-size: 100px;
    grid-column: 2/3;
    grid-row: 4/5;
    font-weight: bold;
    letter-spacing: 10px;
    padding-left: 250px;
    padding-bottom: 300px;
    z-index: 2;
}

.cherries {
    grid-column: 1/2;
    grid-row: 1/6;
    z-index: 1;
    width: 100%;
}

#background {
    background-color: grey;
    grid-column: 2/3;
    grid-row: 1/6;
    z-index: 0;
    width: 100%;
    height: 100%;
}