p {
    border: 10px solid purple;
    padding: 50px;
    background-color: aquamarine;
    margin: 100px auto;
    width: 400px;
    max-width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.img-picsum {
    display: block;
    margin: 20px auto;
    width: 400px;
    padding: 20px;
    border: 10px solid black
}