#first {
    color: red;
    font-size: 32px;
    font-weight: bold;
    font-family: verdana;
    letter-spacing: 30px;
}

.plain {
    font-size: 32px;
    background-color: black;
    color: white;
}

#last {
    color: black;
    background-color: white;
}

p {
    background-color: blue;
}